@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppinsSans ;
}

.glow-border {
  border: 1px solid #00f0ff;
  box-shadow: 0 0 12px #00f0ff, 0 0 24px #00f0ff66;
  transition: all 0.3s ease-in-out;
}

.glow-border:hover {
  box-shadow: 0 0 20px #00f0ff, 0 0 40px #00f0ff99;
  border-color: #00f0ff;
}